      
      #box{
      	position:relative;
      	width: 100%;
      	height: 550px;
            display: block;
            overflow:hidden;
      	
      }

      #box .list{
      	position:relative;
      	width: 100%;      
      	height: 100%;      
      	overflow: hidden;     
            
            width:100%;
	
      }
      #box .list li{
      	position: absolute;      
      	top: 0;      
      	left: 0;      
      	width: 100%;      
      	height: 100%;      
      	opacity: 0;      
      	transition: opacity 0.9s linear
      }
      #box .list li img{
            width: 100%;
            height: 100%;
      }
      #box .list li.current{
      	opacity: 1;
      }
      #box .count{
      	position: relative;      	
      	bottom:7%;
            left: 47%;
      }
      #box .count li{
      	      
      	float: left;      
      	width: 13px;      
      	height: 13px;      
      	cursor: pointer;      
      	margin-right: 9px;     
            overflow: hidden;      
            background: #fff;      
            opacity: 0.4;      
            border-radius: 20px;
      }
      #box .count li.current{ 
      	color: #fff;      
      	opacity: 0.8;      
      	

      }

@media (max-width: 1440px){
      
      #box {
            height: 680px;
      }
}
@media (max-width: 1366px){
      #box {
            height: 660px;
      }     
      
}
@media (max-width: 1280px){
      #box {
            height: 620px;
      }     
      
}
@media (max-width: 1080px){
#box {
            height: 550px;
      }
      
      
@media (max-width: 1050px){
      #box {
            height: 530px;
      }
      
}
@media (max-width: 1024px){
      #box {
            height: 510px;
      }
      
}
@media (max-width: 900px){
      .skdslider {
            height: 460px;
      }
      
}
@media (max-width: 800px){
      
     #box {
            height: 420px;
      }
      
}
@media screen and (max-width:768px) {
      
#box {
            height: 400px;
      }
      
}
@media screen and (max-width:736px) {     
#box {
            height: 390px;
      }
      
}
@media screen and (max-width:667px) {     
#box {
            height: 350px;
      }
      
      
}
@media screen and (max-width:640px) {
      #box {
            height: 330px;
      }
      
      
}
@media screen and (max-width:600px) {
      #box {
            height: 320px;
      }
      
      
}
@media (max-width: 568px){
      #box {
            height: 305px;
      }
      
}
@media (max-width: 480px){
      #box{
            height: 255px;
      }     
      
}
@media (max-width: 414px){    
      #box {
            height: 220px;
      }     
      
      
}
@media (max-width: 384px){    
      #box {
            height: 200px;
      }     
      
}
@media (max-width: 375px){    
      #box {
            height: 195px;
      }     
      
}
@media (max-width: 320px){    
      #box {
            height: 168px;
      }     
      
      
}
