<extend name="Public/base" />
<block name="main">
    <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">所有活动</span>
                <form action="" method="get" style="float:right;">
                   <input type="text"  value="" name="search">&nbsp;&nbsp;<span><button type="submit">搜索</button></span> &nbsp;&nbsp;&nbsp;&nbsp;                 
                </form> 
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__MODULE__/Active/addActive.html"><i class="icon-font"></i>新增活动</a>
                        
                       
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>标题</th>
                            <th>简介</th>
                            <th>展会时间</th>
                            <th>展会地点</th>
                            <th>发布时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        
                        </tr>
                        <volist name="actives" id="active">
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="59" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="0" type="text">
                            </td>
                            <td>{$active.id}</td>
                            <td>{$active.title}</td>
                            <td>{$active.summary}</td>
                            <td>{$active.time}</td>
                            <td>{$active.address}</td>
                            <td>{$active.addtime}</td>
                            <td>{$active.updatetime}</td>
                            <td>
                                 <a class="link-update" href="__MODULE__/Active/edit3/id/{$active.id}">修改</a>
                                
                                <a class="link-del" href="__MODULE__/Active/actdel/id/{$active.id}">删除</a>
                            </td>
                        </tr>
                    </volist>
                    </table>
                    <div class="list-page"> {$page}</div>
                </div>
            </form>
        </div>

</block>