<extend name="Public/base" />
<block name="main">
   <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index.html">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="__MODULE__/Administrator/allAdministrator.html">管理员管理</a><span class="crumb-step">&gt;</span><span>编辑管理员</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>管理员名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="name" size="50" value="{$administrator.name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>密码：</th>
                                <td>
                                    <input class="common-text required" id="title" name="password" size="50" value="{$administrator.password}" type="password">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>邮箱：</th>
                                <td>
                                    <input class="common-text required" id="title" name="email" size="50" value="{$administrator.email}" type="email">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>电话：</th>
                                <td>
                                    <input class="common-text required" id="title" name="phone" size="50" value="{$administrator.phone}" type="text">
                                </td>
                            </tr>
                            <tr>
                            <th>上传：</th>
                            <td>
                                <img src="__PUBLIC__/{$administrator.img}"  width="253px" height="165px" name="img"/>

                                <input type="file" name="img">
                            </td>
                        </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" name="submit"type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
</block>