<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>方案列表</title>
    <link rel="stylesheet" href="__PUBLIC__/before/css/bootstrap.min.css">
    <link rel="shortcut icon" href="__PUBLIC__/before/../favicon.ico">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/before/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/before/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/before/css/tabs.css" />

    <link href="__PUBLIC__/before/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />  
    <link href="__PUBLIC__/before/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__PUBLIC__/before/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="__PUBLIC__/before/js/nav.js"></script>
    <script type="application/x-javascript">
    addEventListener("load", function() {
         setTimeout(hideURLbar, 0);
     }, false);
     function hideURLbar(){ 
          window.scrollTo(0,1);
     } 
     </script>
<script type="text/javascript" src="__PUBLIC__/before/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/slider.js"></script>
<script src="js/bootstrap.js"></script>
      <script src="__PUBLIC__/before/js/modernizr.custom.js"></script>
  </head>
  <body>
  <header>
      <div class="top">
        <div class="container">
          <div class="logo">
            <h1><a href="__MODULE__/Index/inedx.html">华能<span>电源 </span></a></h1>
          </div>
          <div class="agileits-contact-info text-right">
            <ul>
              <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
              <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
            </ul>
          </div>
          
          <div class="clearfix"></div>
        </div>
      </div>
      
        <nav class="navbar navbar-default">
          <div class="container">
          <!-- 手机导航栏 -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button> 
          </div>

          <!-- 导航栏 -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li><a  href="__MODULE__/Index/index.html">首 页</a></li>
            <li class="dropdown">
              <a href="__MODULE__/Product/productlist1.html">产品中心<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="__MODULE__/Product/productlist1.html">光伏逆变器</a></li>              
                <li><a href="__MODULE__/Product/productlist2.html">风能变流器</a></li>
                <li><a href="__MODULE__/Product/productlist3.html">储能系统</a></li>
                <li><a href="__MODULE__/Product/productlist4.html">新能源汽车驱动系统</a></li>
              
              </ul>
            </li>
            <li class="dropdown">
              <a class="active" href="__MODULE__/Project/Projectlist1.html">解决方案<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="__MODULE__/Project/Projectlist1.html">光伏逆变器</a></li>               
                <li><a href="__MODULE__/Project/Projectlist2.html">电站系统</a></li>
                <li><a href="__MODULE__/Project/Projectlist3.html">储能系统</a></li>
                <li><a href="__MODULE__/Project/Projectlist4.html">新能源汽车驱动系统</a></li>
                
              </ul>
            </li>
        
            
            <li><a href="__MODULE__/About/services.html">服务与支持</a></li>

            <li><a href="__MODULE__/About/contact.html">联系我们</a></li>
            </ul>
          </div>
          </div>
        </nav>
  </header>
  <!-- //header -->
  <!-- banner -->
  <div class="agile-banner">
  </div>
  <!-- //banner --> 
  <!-- 面包屑+小导航 -->
    <div class="agile-prod">
    <div class="container">
      <div class="breadcrumb1">       
        <ol class="breadcrumb">
          <li><a href="__MODULE__/Index/index.html">首页</a></li>
          
          <li class="active">智慧光伏解决方案</li>
        </ol>
      </div>
    </div>
    </div>
    <!-- 面包屑+小导航结束 -->
      <div class="project-top">
         <div class="container">
            <div class="what-grids">
              <div class="col-md-5  ">
              <div class="list-img">
                <img src="__PUBLIC__/before/images/abt.jpg" class="img-responsive" alt=""/>
                <div class="textbox"></div>
                </div>
              </div>
              <div class="col-md-7 ">
                
                <div class="project-1">
                  
                    <h4><a >智慧光伏电站解决方案</a></h4>
                    <p>基于近二十年的光伏逆变技术积淀，华能电源致力于提供全球领先的智慧能源解决方案。我们将清洁能源技术与电力电子技术、储能技术、云计算技术紧密结合，依托雄厚的融资实力、卓越的系统核心装备研制能力、领先的系统集成设计能力，为客户提供光伏电站的开发、设计、建设、交易、智能运维等涵盖光伏电站全生命周期的整体解决方案。</p>
                                        
                  <div class="clearfix"></div>
                </div>

                
              </div>
              <div class="clearfix"></div>
            </div>
         </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-12">
          <section>
            <div class="tabs tabs-style-iconbox">
              <nav>
                <ul>
                  <li><a href="#section-iconbox-1"><img src="__PUBLIC__/before/images/b1.png"><br/><span>大型地面光伏电站</span></a></li>
                  <li><a href="#section-iconbox-2"><img src="__PUBLIC__/before/images/b2.png"><br/><span>分布式光伏电站</span></a></li>
                  <li><a href="#section-iconbox-3"><img src="__PUBLIC__/before/images/b3.png"><br/><span>家庭光伏电站</span></a></li>
                </ul>
              </nav>
              <div class="content-wrap">
                <section id="section-iconbox-1">
                    <h3>大型地面光伏电站解决方案</h3>
                    <p class="text-left">华能电源大型地面光伏电站项目类型覆盖各类应用场景，通过强大的技术研发实力、丰富的系统集成经验以及完善的智能运维体系，大幅提升光伏电站的投资回报率，为客户创造更大的价值。与此同时，土地综合治理、农光互补、水面漂浮、林光互补等多种新型综合利用形式，为环境综合治理及新能源产业应用提供了更广阔的想象空间。</p>
                    <div style="margin-top:2em;">
                      <volist name="p1" id="p1">
                      <div class="col-md-6"class="project-2"style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p1.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent2/id/{$p1.id}"><h6>{$p1.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p1.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                    </volist>
                                       
                    </div>
                               
                </section>
                <section id="section-iconbox-2">
                    <h3>分布式光伏电站解决方案</h3>
                    <p class="text-left">我们为客户提供“咨询规划、设计建设、智能运维”一站式标准化服务，并根据客户需求提供“专属定制电站保险、融资租赁、发电量保值”等增值服务，让客户无忧坐享财富收益。我们已成功开发建设了国家级合肥分布式光伏发电示范区100MW项目、中国首个获得TÜV认证的广州易玛分布式光伏项目以及中科大先研院光伏微电网项目等诸多具有代表性的分布式光伏电站。</p>
                    <div style="margin-top:2em;">
                      <volist name="p2" id="p2">
                      <div class="col-md-6"class="project-2"style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p2.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent2/id/{$p2.id}"><h6>{$p2.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p2.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                    </volist>
                                       
                    </div>             
                </section>
                <section id="section-iconbox-3">
                    <h3>家庭光伏电站解决方案</h3>
                    <p class="text-left">我们为客户量身定制服务方案，在“免费勘测、定制方案、并网申请、上门安装、智能监控”一站式服务基础上，通过发电量保值、专属定制电站保险等增值服务保障电站收益的安全、持续、稳定。我们在全国率先开展光伏扶贫工作，并通过模式创新取得优秀成绩，精准扶贫近6千户，为国家精准扶贫战略提供了良好的借鉴与示范，切实让光伏发电真正造福千家万户。</p>
                    <div style="margin-top:2em;">
                      <volist name="p3" id="p3">
                      <div class="col-md-6"class="project-2"style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p3.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent2/id/{$p3.id}"><h6>{$p3.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p3.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                    </volist>
                                       
                    </div>           
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- footer -->
  <div class="footer-top">
    <div class="container">
      <div class="col-md-4 wthree-footer-top">
        <h3><a href="__MODULE__/Index/inedx.html">华能<span>电源</span></a></h3>
          <ul>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
          </ul>
      </div>
      <div class="col-md-3 w3ls-footer-top">
        <h3>快速<span>链接</span></h3>
            <ul>
              <li><a href="__MODULE__/Index/inedx.html">首页</a></li>
              <li><a href="__MODULE__/Product/productlist1.html">产品</a></li>
              <li><a href="__MODULE__/Project/projectlist1.html">解决方案</a></li>
              
              <li><a href="__MODULE__/About/services.html">服务支持</a></li>
              <li><a href="__MODULE__/About/contact.html">联系我们</a></li>
            </ul>

      </div>
      
      <div class="col-md-5 w3l-footer-top">
        <div class="footer-img">
          <img src="__PUBLIC__/before/images/001.png">
        </div>
        <div class="footer-letter">
          <p>©Huaneng2017. 备案号：皖ICP备05001号-1</p>
        </div>
        
        <br><br><br><br>
      </div>
        <div class="clearfix"></div>

    </div>
      
    </div>
  </div>
  <script src="__PUBLIC__/before/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/before/js/cbpFWTabs.js"></script>
    <script>
      (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
    </script>
  </body>
</html>