<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>方案列表</title>
    <link rel="stylesheet" href="__PUBLIC__/before/css/bootstrap.min.css">
    <link rel="shortcut icon" href="__PUBLIC__/before/../favicon.ico">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/before/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/before/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/before/css/tabs.css" />

    <link href="__PUBLIC__/before/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />  
    <link href="__PUBLIC__/before/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__PUBLIC__/before/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="__PUBLIC__/before/js/nav.js"></script>
    <script type="application/x-javascript">
    addEventListener("load", function() {
         setTimeout(hideURLbar, 0);
     }, false);
     function hideURLbar(){ 
          window.scrollTo(0,1);
     } 
     </script>
<script type="text/javascript" src="__PUBLIC__/before/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/slider.js"></script>
<script src="js/bootstrap.js"></script>
      <script src="__PUBLIC__/before/js/modernizr.custom.js"></script>
  </head>
  <body>
  <header>
      <div class="top">
        <div class="container">
          <div class="logo">
            <h1><a href="__MODULE__/Index/inedx.html">华能<span>电源 </span></a></h1>
          </div>
          <div class="agileits-contact-info text-right">
            <ul>
              <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
              <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
            </ul>
          </div>
          
          <div class="clearfix"></div>
        </div>
      </div>
      
        <nav class="navbar navbar-default">
          <div class="container">
          <!-- 手机导航栏 -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button> 
          </div>

          <!-- 导航栏 -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li><a  href="__MODULE__/Index/index.html">首 页</a></li>
            <li class="dropdown">
              <a href="__MODULE__/Product/productlist1.html">产品中心<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="__MODULE__/Product/productlist1.html">光伏逆变器</a></li>              
                <li><a href="__MODULE__/Product/productlist2.html">风能变流器</a></li>
                <li><a href="__MODULE__/Product/productlist3.html">储能系统</a></li>
                <li><a href="__MODULE__/Product/productlist4.html">新能源汽车驱动系统</a></li>
              
              </ul>
            </li>
            <li class="dropdown">
              <a class="active" href="__MODULE__/Project/Projectlist1.html">解决方案<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="__MODULE__/Project/Projectlist1.html">光伏逆变器</a></li>               
                <li><a href="__MODULE__/Project/Projectlist2.html">电站系统</a></li>
                <li><a href="__MODULE__/Project/Projectlist3.html">储能系统</a></li>
                <li><a href="__MODULE__/Project/Projectlist4.html">新能源汽车驱动系统</a></li>
                
              </ul>
            </li>
        
            
            <li><a href="__MODULE__/About/services.html">服务与支持</a></li>

            <li><a href="__MODULE__/About/contact.html">联系我们</a></li>
            </ul>
          </div>
          </div>
        </nav>
  </header>
  <!-- //header -->
  <!-- banner -->
  <div class="agile-banner">
  </div>
  <!-- //banner --> 
  <!-- 面包屑+小导航 -->
    <div class="agile-prod">
    <div class="container">
      <div class="breadcrumb1">       
        <ol class="breadcrumb">
          <li><a href="__MODULE__/Index/index.html">首页</a></li>
          
          <li class="active">智慧阳光解决方案</li>
        </ol>
      </div>
    </div>
    </div>
    <!-- 面包屑+小导航结束 -->
      <div class="project-top">
         <div class="container">
            <div class="what-grids">
              <div class="col-md-5  ">
              <div class="list-img">
                <img src="__PUBLIC__/before/images/abt.jpg" class="img-responsive" alt=""/>
                <div class="textbox"></div>
                </div>
              </div>
              <div class="col-md-7 ">
                
                <div class="project-1">
                  
                    <h4><a >智慧光伏电站解决方案</a></h4>
                    <p>光伏逆变器是光伏发电系统主要部件之一，连接光伏方阵和电网，是确保光伏电站长期可靠运行和提升项目投资回报的关键。我们倡导“因地制宜，科学设计”的理念，根据光伏电站规模、附着建筑和地势等因素，合理选择逆变器类型，保障光伏电站在全生命周期内的最大价值。</p>
                                        
                  <div class="clearfix"></div>
                </div>

                
              </div>
              <div class="clearfix"></div>
            </div>
         </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-12">
          <section>
            <div class="tabs tabs-style-iconbox">
              <nav>
                <ul>
                  <li><a href="#section-iconbox-1"><img src="__PUBLIC__/before/images/b1.png"><br/><span>大型地面电站</span></a></li>
                  <li><a href="#section-iconbox-2"><img src="__PUBLIC__/before/images/b2.png"><br/><span>复杂山丘电站</span></a></li>
                  <li><a href="#section-iconbox-3"><img src="__PUBLIC__/before/images/b3.png"><br/><span>工商业屋顶电站</span></a></li>
                  <li><a href="#section-iconbox-4"><img src="__PUBLIC__/before/images/b2.png"><br/><span>水面电站</span></a></li>
                  <li><a href="#section-iconbox-5"><img src="__PUBLIC__/before/images/b3.png"><br/><span>户用/村级电站</span></a></li>

                </ul>
              </nav>
              <div class="content-wrap">
                
                <section id="section-iconbox-1">
                    <h3>大型地面光伏电站解决方案</h3>
                    <p class="text-left">大型地面/平缓山丘电站所处环境地势平坦，光伏组件基本朝向一致，无遮挡，以集中式解决方案为主。电站规模较大，一般大于5MW，电站逆变输出经过升压后直接馈入110kV、220kV或者更高电压等级的高压输电网。</p>
                    <div style="margin-top:2em;">
                      <volist name="p1" id="p1">
                      <div class="col-md-6"class="project-2"style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p1.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent1/id/{$p1.id}"><h6>{$p1.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p1.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                      </volist>
                    <!--   <div class="col-md-6"class="project-2">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/before/images/fa7.jpg" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li><a href="方案内容1.html"><h6>荒漠电站</h6></a></li>
                            <li> · 中国首批参与西部荒漠电站开发企业之一，并在西部建有大量荒漠电站，为推进“一带一路”建设、提高电站规范运作、改善生态环境提供了良好示范。</li>
                          </ul>
                        </div>                                                  
                      </div>     -->                   
                    </div>
                <!--     <div class="project-2">
                      <div class="col-md-6"class="project-2">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/before/images/fa7.jpg" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li><a href="方案内容1.html"><h6>荒漠电站</h6></a></li>
                            <li > · 中国首批参与西部荒漠电站开发企业之一，并在西部建有大量荒漠电站，为推进“一带一路”建设、提高电站规范运作、改善生态环境提供了良好示范。</li>
                          </ul>
                        </div>                                                  
                      </div>
                      <div class="col-md-6"class="project-2">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/before/images/fa7.jpg" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li><a href="方案内容1.html"><h6>荒漠电站</h6></a></li>
                            <li> · 中国首批参与西部荒漠电站开发企业之一，并在西部建有大量荒漠电站，为推进“一带一路”建设、提高电站规范运作、改善生态环境提供了良好示范。</li>
                          </ul>
                        </div>                                                  
                      </div>                       
                    </div> -->                    
                </section>
              
                <section id="section-iconbox-2">
                    <h3>复杂山丘电站解决方案</h3>
                    <p class="text-left">利用山地、丘陵等资源开发的光伏电站，主要集中在我国中东部和南部地区。电站规模大小不一，装机容量一般在1MW以上；受复杂地形影响，多有组件朝向不一致或早晚遮挡问题；发电以10kV或35kV接入公用电网。</p>
                    <div style="margin-top:2em;">
                      <volist name="p2" id="p2">
                      <div class="col-md-6"class="project-2"style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p2.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent1/id/{$p2.id}"><h6>{$p2.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p2.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                      </volist>            
                    </div>
             
                </section>
                <section id="section-iconbox-3">
                    <h3>工商业屋顶电站解决方案</h3>
                    <p class="text-left">利用厂房、公共建筑等屋顶资源开发的光伏电站，该类型电站规模因屋顶面积而定，电站发电鼓励就地消纳或直接馈入10kV、35kV或380V的公共电网。</p>
                    <div style="margin-top:2em;">
                      <volist name="p3" id="p3">
                      <div class="col-md-6"class="project-2"style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p3.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent1/id/{$p3.id}"><h6>{$p3.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p3.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                    </volist>
                         
                    </div>
                  
                </section>
                <section id="section-iconbox-4">
                    <h3>水面电站解决方案</h3>
                    <p class="text-left">渔光互补项目将光伏发电和渔业结合在一起，通过在水面上设立电池板，水面下规划养殖鱼虾，达到养殖和发电并行、提高综合产值的优势，光伏组件朝向一致无遮挡。</p>
                    <div style="margin-top:2em;"style="margin-top:2em;">
                      <volist name="p4" id="p4">
                      <div class="col-md-6"class="project-2">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p4.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent1/id/{$p4.id}"><h6>{$p4.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p4.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                    </volist>
                                         
                    </div>                
                </section>
                <section id="section-iconbox-5">
                    <h3>户用/村级电站解决方案</h3>
                    <p class="text-left">户用/村级电站是针对住宅屋顶设计的光伏发电解决方案， 该方案装机容量一般在几百千瓦以内，220V或380V电压等级接入公共电网或用户电网的光伏电站。</p>
                      <volist name="p5" id="p5">
                      <div class="col-md-6"class="project-2" style="margin-top:2em;">
                        <div class="col-md-6">
                          <img class="img" src="__PUBLIC__/{$p5.img}" alt="" >
                        </div>
                        <div class="col-md-6">
                           <ul class="list">
                            <li ><a href="__MODULE__/Project/projectcontent1/id/{$p5.id}"><h6>{$p5.name}</h6></a></li>
                            <li style="margin-top:1em;line-height:25px;"> · {$p5.remark|msubstr=0,30,'utf-8',true}</li>
                          </ul>
                        </div>                                                  
                      </div>
                      </volist>             
                    </div>
                               
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- footer -->
  <div class="footer-top">
    <div class="container">
      <div class="col-md-4 wthree-footer-top">
        <h3><a href="__MODULE__/Index/inedx.html">华能<span>电源</span></a></h3>
          <ul>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
          </ul>
      </div>
      <div class="col-md-3 w3ls-footer-top">
        <h3>快速<span>链接</span></h3>
            <ul>
              <li><a href="__MODULE__/Index/inedx.html">首页</a></li>
              <li><a href="__MODULE__/Product/productlist1.html">产品</a></li>
              <li><a href="__MODULE__/Project/projectlist1.html">解决方案</a></li>
              
              <li><a href="__MODULE__/About/services.html">服务支持</a></li>
              <li><a href="__MODULE__/About/contact.html">联系我们</a></li>
            </ul>

      </div>
      
      <div class="col-md-5 w3l-footer-top">
        <div class="footer-img">
          <img src="__PUBLIC__/before/images/001.png">
        </div>
        <div class="footer-letter">
          <p>©Huaneng2017. 备案号：皖ICP备05001号-1</p>
        </div>
        
        <br><br><br><br>
      </div>
        <div class="clearfix"></div>

    </div>
      
    </div>
  </div>
  <script src="__PUBLIC__/before/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/before/js/cbpFWTabs.js"></script>
    <script>
      (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
    </script>
  </body>
</html>