<!DOCTYPE html>
<html lang="en">
<head>
<title>首页</title>
<link href="__PUBLIC__/before/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />     
<link href="__PUBLIC__/before/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/before/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/before/css/slider.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
    addEventListener("load", function() {
         setTimeout(hideURLbar, 0);
     }, false);
     function hideURLbar(){ 
       	  window.scrollTo(0,1);
     } 
 </script>
<script type="text/javascript" src="__PUBLIC__/before/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/slider.js"></script>
<script src="__PUBLIC__/before/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
	<header>
		<div class="top">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">华能<span>电源 </span></a></h1>
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
					</ul>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		
			<nav class="navbar navbar-default">
			  <div class="container">
				<!-- 手机导航栏 -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>	
				</div>

				<!-- 导航栏 -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a class="active" href="index.html">首 页</a></li>
					<li class="dropdown">
						<a href="产品列表.html">产品中心<span class="caret"></span></a>
						<ul class="dropdown-menu">
					      <li><a href="产品列表.html">光伏逆变器</a></li>						  
						  <li><a href="产品列表.html">风能变流器</a></li>
						  <li><a href="产品列表.html">储能系统</a></li>
						  <li><a href="产品列表.html">新能源汽车驱动系统</a></li>
						
					  </ul>
					</li>
					<li class="dropdown">
						<a href="方案列表.html">解决方案<span class="caret"></span></a>
						<ul class="dropdown-menu">
					      <li><a href="方案内容1.html">光伏逆变器</a></li>
						  
						  <li><a href="方案内容2.html">电站系统</a></li>
						  <li><a href="方案内容1.html">储能系统</a></li>
						  <li><a href="方案内容1.html">新能源汽车驱动系统</a></li>
						  
					  </ul>
					</li>
			
					
					<li><a href="services.html">服务与支持</a></li>

					<li><a href="contact.html">联系我们</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
	</header>
	<!-- 轮播图 -->
	<div id="box">
      <ul class="list">
      	<li class="current" style="opacity:1;"><img src="__PUBLIC__/before/images/1.jpg" ></li>
      	<li style="opacity:0;"><img src="__PUBLIC__/before/images/2.jpg" ></li>
      	<li style="opacity:0;"><img src="__PUBLIC__/before/images/3.jpg" ></li>
      	<li style="opacity:0;"><img src="__PUBLIC__/before/images/4.jpg" ></li>
      	<li style="opacity:0;"><img src="__PUBLIC__/before/images/5.jpg" ></li>
      </ul>
      <ul class="count">
      	<li class="current ">
      	<li class=""></li>
      	<li class=""></li>
      	<li class=""></li>
      	<li class=""></li>
      </ul>
	</div>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<!-- Specialize-section -->
			<section class="w3-about text-center">
				<div class="container">
					<h2 class="w3ls_head">业务<span>领域</span></h2>
					<p class="para">华能电源是一家专注于太阳能、风能、储能等新能源电源设备的研发、生产、销售和服务的国家重点高新技术企业。主要产品有光伏逆变器、风能变流器、储能系统、电动车电机控制器，并致力于提供全球一流的光伏电站解决方案。其中光伏逆变器销售连续多年位居国内市场第一，2015年逆变器出货量正式登顶全球第一。</p>
				<div class="row clearfix">
					<div class="col-md-4 w3l-abt-grid">
						<div class="pro">
							<img src="__PUBLIC__/before/images/光伏逆变器.png"> 
							<h4><a href="产品列表.html">光伏逆变器</a></h4>                         
						</div>

					</div>
					<div class="col-md-4 w3l-abt-grid">
						<div class="pro">
							<img src="__PUBLIC__/before/images/风流.png">
							<h4><a href="产品列表.html">风能变流器</a></h4> 
						</div>
					</div>
					<div class="col-md-4 w3l-abt-grid">
						<div class="pro">
							<img src="__PUBLIC__/before/images/储能.png">
							<h4><a href="产品列表.html">储能系统</a></h4> 
						</div>
						
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-4 w3l-abt-grid">
						<div class="pro">
							<img src="__PUBLIC__/before/images/新能源.png">
							<h4><a href="产品列表.html">新能源汽车驱动系统</a></h4> 
						</div>
						
					</div>
					<div class="col-md-8 w3l-abt-grid">
						<div class="pro">
							<img src="__PUBLIC__/before/images/电站.png">
							<h4><a href="产品列表.html">电站系统</a></h4> 
						</div>
						
					</div>

				</div>	
					<div class="clearfix"></div>
				</div>
			</section>
	<!-- //Specialize-section -->
	
		<!--新闻-->
				<div class="what-w3ls">
					<div class="container">
						<h3 class="w3ls_head">新闻 <span>动态</span></h3>
						<div class="what-grids">
							<div class="col-md-5 what-grid">
							<div class="list-img">
								<img src="__PUBLIC__/before/images/abt.jpg" class="img-responsive" alt=""/>
								<div class="textbox"></div>
								</div>
							</div>
							<div class="col-md-7 what-grid1">
								
								<div class="news">
									
										<h4><a href="新闻内容.html">臻于至善 领跑未来——华能电源新品发布会点亮SNEC</a></h4>
										<p>2017年4月19日，在全球光伏盛会SNEC2017首日，全球光伏逆变领跑者华能电源隆重举行了“臻于至善 领跑未来——华能电源2017新品发布会”。华能电源董事长、中国可再生能源学会秘书长、业内领导、公司合作伙伴及媒体人士等数百人出席了本次发布会，共同见证了华能电源六款新品震撼面世。</p>
									    <i class="fa fa-clock-o" aria-hidden="true">&nbsp;2017-04-25</i>
									    <i class="fa fa-eye" aria-hidden="true">&nbsp;255</i>									    
									<div class="clearfix"></div>
								</div>

								<div class="news">
									
									
										<h4><a href="新闻内容.html">光伏电站“水上漂”，华能电源解锁光伏应用新姿势</a></h4>
										<p>四月的微风拂过湖面，水波渐次荡漾开来，循眼望去，一排排太阳能电池板铺设在湖面中央，形成壮观的方阵，无声地吸纳着阳光的热量，水下清晰可见各种大大小小的鱼类欢快地游来游去，这是4月15日我们在安徽省淮南市潘集40MW漂浮式光伏发电项目现场看到的景象。</p>
										<i class="fa fa-clock-o" aria-hidden="true">&nbsp;2017-04-25</i>
									    <i class="fa fa-eye" aria-hidden="true">&nbsp;255</i>
									<div class="clearfix"></div>
								</div>

							</div>
							<div class="clearfix"></div>
						</div>
                        <h5 ><a style="text-deriction:none;" href="公司新闻.html">更多>></a></h5>
					</div>
				</div>
			<!--新闻-->
			<!--展会活动-->
			<div class="w3layouts-clients">
				<div class="container">
					<h3> 展会及活动<span></span></h3>
					<h4><a href="展会活动.html">德国 • 新慕尼黑太阳能技术博览会（Intersolar Europe 2017）</a></h4>
					<p>2017.05.31-06.02</p>
					<p>德国 • 新慕尼会展中心</p>
					<br><br>
					<h4><a href="展会活动.html">2017年北京国际风能大会暨展览会（CWP 2017）</a></h4>
					<p>2017.10.17-19</p>
					<p>中国国际展览中心新馆（北京市天竺裕翔路88号 • 新国展）</p>
					<br>
					<h5><a href="展会活动.html">更多>></a></h5>

				</div>
			</div>
	<!--//展会活动-->

	<div class="agileinfo-work-top">
		<div class="container">
			<div class="w3-agileits-rides-heading">
				<h3 class="w3ls_head">关于 <span>华能</span></h3>
			</div>
			
			<div class="agileits-w3layouts-rides-grids">
				<div class="col-sm-4 rides-grid">
					<div class="agileinfo-work">
						<div class="list-img">
							<img src="__PUBLIC__/before/images/介绍.jpg" class="img-responsive" alt="">
							<div class="textbox"></div>
						</div>
						<h4><a href="公司介绍.html">公司介绍</a></h4>						
					</div>
				</div>
				<div class="col-sm-4 rides-grid">
					<div class="agileinfo-work">
						<div class="list-img">
							<img src="__PUBLIC__/before/images/文化.jpg" class="img-responsive" alt="">
							<div class="textbox"></div>
						</div>
						<h4><a href="企业文化.html">企业文化</a></h4>						
					</div>
				</div>
				<div class="col-sm-4 rides-grid">
					<div class="agileinfo-work">
						<div class="list-img">
							<img src="__PUBLIC__/before/images/历程.jpg" class="img-responsive" alt="">
							<div class="textbox"></div>
						</div>
						<h4><a href="发展历程.html">发展历程</a></h4>						
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- footer -->
	<div class="footer-top">
		<div class="container">
			<div class="col-md-4 wthree-footer-top">
				<h3><a href="">华能<span>电源</span></a></h3>
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
					</ul>
			</div>
			<div class="col-md-3 w3ls-footer-top">
				<h3>快速<span>链接</span></h3>
						<ul>
							<li><a href="index.html">首页</a></li>
							<li><a href="产品列表.html">产品列表</a></li>
							<li><a href="方案列表.html">解决方案</a></li>
							
							<li><a href="services.html">服务支持</a></li>
							<li><a href="contact.html">联系我们</a></li>
						</ul>

			</div>
			
			<div class="col-md-5 w3l-footer-top">
				<div class="footer-img">
					<img src="__PUBLIC__/before/images/001.png">
				</div>
				<div class="footer-letter">
					<p>©Huaneng2017. 备案号：皖ICP备05001号-1</p>
				</div>
				
				<br><br><br><br>
			</div>
				<div class="clearfix"></div>

		</div>
			
		</div>
	</div>

</body>
</html>