<!DOCTYPE html>
<html lang="en">
<head>
<title>联系我们</title>    
<link href="__PUBLIC__/before/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />     
<link href="__PUBLIC__/before/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/before/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/before/css/style_y.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/before/css/slider.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
    addEventListener("load", function() {
         setTimeout(hideURLbar, 0);
     }, false);
     function hideURLbar(){ 
       	  window.scrollTo(0,1);
     } 
 </script>
<script type="text/javascript" src="__PUBLIC__/before/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/before/js/slider.js"></script>
<script src="__PUBLIC__/before/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
	<header>
		<div class="top">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html"><span>华能</span>电源 </a></h1>
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
					</ul>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		
			<nav class="navbar navbar-default">
			  <div class="container">
				<!-- 手机导航栏 -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>	
				</div>

				<!-- 导航栏 -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a  href="index.html">首 页</a></li>
					<li class="dropdown">
						<a href="产品列表.html">产品中心<span class="caret"></span></a>
						<ul class="dropdown-menu">
					      <li><a href="产品列表.html">光伏逆变器</a></li>						  
						  <li><a href="产品列表.html">风能变流器</a></li>
						  <li><a href="产品列表.html">储能系统</a></li>
						  <li><a href="产品列表.html">新能源汽车驱动系统</a></li>
						
					  </ul>
					</li>
					<li class="dropdown">
						<a href="方案列表.html">解决方案<span class="caret"></span></a>
						<ul class="dropdown-menu">
					      <li><a href="方案内容1.html">光伏逆变器</a></li>
						  
						  <li><a href="方案内容2.html">电站系统</a></li>
						  <li><a href="方案内容1.html">储能系统</a></li>
						  <li><a href="方案内容1.html">新能源汽车驱动系统</a></li>
						  
					  </ul>
					</li>
			
					
					<li><a href="services.html">服务与支持</a></li>

					<li><a class="active" href="contact.html">联系我们</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
	</header>
	<!-- //header -->
	<!-- banner -->
	<div class="agile-banner">
	</div>
	<!-- //banner -->	
	<!-- 面包屑+小导航 -->
	<div class="agile-prod"style="margin-top:-5em;">
		<div class="container">
			<div class="breadcrumb1">				
				<ol class="breadcrumb">
					<li><a href="index.html">首页</a></li>
					
					<li class="active">联系我们</li>
				</ol>
			</div>
		
		</div>
    </div>
    <!-- 面包屑+小导航结束 -->
    <div class="container"style="margin-top:-5em;" >

		<div class="agile-prod2">
		    <div class="col-md-6 agile-img">
				<img src="__PUBLIC__/before/images/A1.jpg"style="width:90%;">
			</div>
			<div class="col-md-6 agile-sub">
				<h4>阳光电源股份有限公司</h4>
				<li>地址：安徽省合肥市高新区习友路1699号</li>
                <li>邮编：230088</li>
                <li>电话：0551 - 6532 78780551 - 6532 7877</li>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="agile-prod2">
		    <div class="col-md-6">
				<h4>国内光伏产品销售</h4>
				<li>电话：0551 - 6532 78270551 - 6532 7828</li>
                <li>邮箱：sales@sungrowpower.com</li>
			</div>
			<div class="col-md-6" id="seven">
				<h4>国外光伏产品销售</h4>
				<li>电话：0551- 6532 78340551- 6532 78350551- 6532 7845</li>
                <li>邮箱：info@sungrow.cn</li>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="agile-prod2">
		    <div class="col-md-6">
				<h4>光伏电站业务</h4>
				<li>电话：400 - 958 - 58880551 - 6532 7903</li>
                <li>邮箱：plant@sungrowpower.com</li>
			</div>
			<div class="col-md-6">
				<h4>风电产品销售</h4>
				<li>地址：安徽省合肥市高新区习友路1699号</li>
                <li>邮编：230088</li>
                <li>电话：0551 - 6532 78780551 - 6532 7877</li>
			</div>
			<div class="clearfix"> </div>
		</div>
		
        <div class="agile-prod2">
		    <div class="col-md-6">
				<h4>华能三星（合肥）储能电源有限公司</h4>
				<li>地址：安徽省合肥市高新区柏堰科技园铭传路788号</li>
                <li>电话：0551- 6532 7600</li>
                <li>传真：0551- 6532 7844</li>
                <li>邮箱：ess@sungrow.cc</li>
                <li>URL：www.sungrowsamsung.com</li>
			</div>
			<div class="col-md-6">
				<h4>新能源汽车驱动系统销售</h4>
				<li>电话：0551- 6532 7878转7039</li>
                <li>邮箱：evsale@sungrowpower.com</li>
			</div>
			<div class="clearfix"> </div>
		</div>

		 <div class="agile-prod2">
		    <div class="col-md-6">
				<h4>华能三星（合肥）储能电源有限公司</h4>
				<li>地址：安徽省合肥市高新区柏堰科技园铭传路788号</li>
                <li>电话：0551- 6532 7600</li>
                <li>传真：0551- 6532 7844</li>
                <li>邮箱：ess@sungrow.cc</li>
                <li>URL：www.sungrowsamsung.com</li>
			</div>
			<div class="col-md-6">
				<h4>新能源汽车驱动系统销售</h4>
				<li>电话：0551- 6532 7878转7039</li>
                <li>邮箱：evsale@sungrowpower.com</li>
			</div>
			<div class="clearfix"> </div>
		</div>

         <div class="agile-prod2">
		    <div class="col-md-6">
				<h4>光伏系统解决方案</h4>
                <li>邮箱：pv-system@sungrowpower.com</li>
			</div>
			<div class="col-md-6">
				<h4>工程技术</h4>
				<li>电话：0551 - 6532 7821</li>
                <li>邮箱：tech@sungrowpower.com</li>
			</div>
			<div class="clearfix"> </div>
		</div>

        <div class="agile-prod2">
		    <div class="col-md-6">
				<h4>光伏系统解决方案</h4>
                <li>邮箱：pv-system@sungrowpower.com</li>
			</div>
			<div class="col-md-6">
				<h4>工程技术</h4>
				<li>电话：0551 - 6532 7821</li>
                <li>邮箱：tech@sungrowpower.com</li>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="agile-prod2">
		    <div class="col-md-6">
				<h4>售后服务</h4>
                <li>电话：0551- 6532 7830</li>
                <li>邮箱：complain@sungrowpower.com</li>
			</div>
			<div class="col-md-6">
				<h4>投诉</h4>
				<li>电话：0551 - 6532 7821</li>
                <li>邮箱：tech@sungrowpower.com</li>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="agile-prod2">
		    <div class="col-md-6">
				<h4>采购</h4>
                <li>邮箱：purchasing@sungrowpower.com</li>
			</div>
			<div class="col-md-6">
				<h4>电子平台</h4>
                <li>URL：www.sungrowpower.com/purchasing</li>
			</div>
			<div class="clearfix"> </div>
		</div>


		<div class="agile-prod2">
		    <div class="col-md-6">
				<h4>漂浮系统</h4>
                <li>地址：中国淮南市平圩经济开发区淮潘公路与生态大道交口</li>
                <li>电话：0554-2601 998</li>
                <li>邮箱：float@sungrowpower.com</li>
			</div>
			<div class="col-md-6">
				<h4></h4>
                <li></li>
			</div>
			<div class="clearfix"> </div>
		</div>

	</div>
<!-- footer -->
	<div class="footer-top">
		<div class="container">
			<div class="col-md-4 wthree-footer-top">
				<h3><a href="index.html">华能<span>电源</span></a></h3>
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
					</ul>
			</div>
			<div class="col-md-3 w3ls-footer-top">
				<h3>快速<span>链接</span></h3>
						<ul>
							<li><a href="index.html">首页</a></li>
							<li><a href="产品列表.html">产品</a></li>
							<li><a href="方案列表.html">解决方案</a></li>
							
							<li><a href="services.html">服务支持</a></li>
							<li><a href="contact.html">联系我们</a></li>
						</ul>

			</div>
			
			<div class="col-md-5 w3l-footer-top">
				<div class="footer-img">
					<img src="__PUBLIC__/before/images/001.png">
				</div>
				<div class="footer-letter">
					<p>©Huaneng2017. 备案号：皖ICP备05001号-1</p>
				</div>
				
				<br><br><br><br>
			</div>
				<div class="clearfix"></div>

		</div>
			
		</div>
	</div>

</body>
</html>