<!DOCTYPE html>
<html lang="en">
<head>
<title>服务</title>    
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />     
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
    addEventListener("load", function() {
         setTimeout(hideURLbar, 0);
     }, false);
     function hideURLbar(){ 
       	  window.scrollTo(0,1);
     } 
 </script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/nav.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script src="js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
	<header>
		<div class="top">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">华能<span>电源 </span></a></h1>
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
					</ul>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		
			<nav class="navbar navbar-default">
			  <div class="container">
				<!-- 手机导航栏 -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>	
				</div>

				<!-- 导航栏 -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a  href="index.html">首 页</a></li>
					<li class="dropdown">
						<a href="产品列表.html">产品中心<span class="caret"></span></a>
						<ul class="dropdown-menu">
					      <li><a href="产品列表.html">光伏逆变器</a></li>						  
						  <li><a href="产品列表.html">风能变流器</a></li>
						  <li><a href="产品列表.html">储能系统</a></li>
						  <li><a href="产品列表.html">新能源汽车驱动系统</a></li>
						
					  </ul>
					</li>
					<li class="dropdown">
						<a href="方案列表.html">解决方案<span class="caret"></span></a>
						<ul class="dropdown-menu">
					      <li><a href="方案内容1.html">光伏逆变器</a></li>
						  
						  <li><a href="方案内容2.html">电站系统</a></li>
						  <li><a href="方案内容1.html">储能系统</a></li>
						  <li><a href="方案内容1.html">新能源汽车驱动系统</a></li>
						  
					  </ul>
					</li>
			
					
					<li><a class="active" href="services.html">服务与支持</a></li>

					<li><a  href="contact.html">联系我们</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
	</header>
	<!-- //header -->
	<!-- banner -->
	<div class="agile-banner">
	</div>
	<!-- //banner -->	
	<!-- 面包屑+小导航 -->
	<div class="agile-prod">
		<div class="container">
			<div class="breadcrumb1">				
				<ol class="breadcrumb">
					<li><a href="index.html">首页</a></li>
					
					<li class="active">服务</li>
				</ol>
			</div>

		</div>
    </div>
    <!-- 面包屑+小导航结束 -->
   <div class="container">

	    <div class="company-summary">
	         <div class="container">
	         	  <div class="what-grids">
								<div class="col-md-5  ">
								<div class="list-img">
									<img src="images/A2.jpg" class="img-responsive" alt=""/>
									<div class="textbox"></div>
									</div>
								</div>
								<div class="col-md-7 sum">
									
									<div class="sum1">
										
											<h4><a href="">服务响应</a></h4>
											<p>售后服务1小时内响应，24小时内解决问题；你也可以通过点击业务联系页面，进行销售和其他咨询。</p>
										   								    
										<div class="clearfix"></div>
									</div>

									
								</div>
								<div class="clearfix"></div>
							</div>
	         </div>
	    </div>

		<div class="company-summary">
	         <div class="container">
	         	  <div class="what-grids">
								<div class="col-md-5  ">
								<div class="list-img">
									<img src="images/A3.jpg" class="img-responsive" alt=""/>
									<div class="textbox"></div>
									</div>
								</div>
								<div class="col-md-7 sum">
									
									<div class="sum1">
										
											<h4><a href="">售前|售中|售后支持</a></h4>
											<p>提供项目咨询、系统设计、产品体验，协助客户制定专业、高效的项目方案； 提供相应的技术辅导和系统培训，并全程负责项目产品的调试安装；</p>
					                        <li style="color:#86c724;">此外，我们还可根据您的需要，提供更多量身定制的增值服务。</li>
										   								    
										<div class="clearfix"></div>
									</div>

									
								</div>
								<div class="clearfix"></div>
							</div>
	         </div>
	    </div>


	    <div class="company-summary">
	         <div class="container">
	         	  <div class="what-grids">
	         	  	<div class="col-md-7 sum">
									
									<div class="sum2">
										
											<h4><a href="">资源优势</a></h4>
											<p><span style="color:#86c724;">庞大的服务网点：</span>覆盖中国各省市自治区，以及全球50%以上的国家和地区</p>
											<p><span style="color:#86c724;">庞大的服务网点：</span>专业的服务队伍：</span>数百名经验丰富的专职服务工程师，24小时待命</p>
											<p><span style="color:#86c724;">庞大的服务网点：</span>完善的服务备件：</span>依托先进的服务管理软件，在全球服务覆盖区域，建立当地的备件仓库，存放充足的原厂配件</p>									   														
									</div>								
					</div>
					<div class="col-md-5  ">
								    <div class="list-img">
										<img src="images/suc.jpg" class="img-responsive" alt=""/>
										<div class="textbox"></div>
										
									</div>
					</div>
								
								<div class="clearfix"></div>
							</div>
	         </div>
	    </div>
	    <div class="company-summary">
	         <div class="container">
	         	  <div class="what-grids">
								<div class="col-md-5  ">
								<div class="list-img">
									<img src="images/A6.jpg" class="img-responsive" alt=""/style="width:100%;">
									<div class="textbox"></div>
									</div>
								</div>
								<div class="col-md-7 sum">
									
									<div class="sum5">
										
											<h4><a href="">服务监督 </a></h4>
											<p>您对售后服务工程师所提供的服务，有任何建议及意见，请拨打我们的服务监督电话。</p>
											<p>服务监督电话 : 0551-65327831</p>
											<p>为了向您提供更全面、更专业、更贴身的服务支持，我们诚恳的欢迎您对我们的服务模式、服务管理和服务内容提出指导和建议，也邀请您对我们售后服务人员的工作进行监督。
							                阳光电源客户服务中心对以上信息拥有最终解释权。</p>
										   								    
										<div class="clearfix"></div>
									</div>

									
								</div>
								<div class="clearfix"></div>
							</div>
	         </div>
	    </div>
	    <div class="course">
	    	<div class="col-md-6">
	                        <div class="col-md-6">
	                          <img class="img" src="images/A7.jpg" alt=""width="100%;" >
	                        </div>
	                        <div class="col-md-6">
	                           
	                            <h4>课程培训</h4>
	                            <p>我们可根据客户的项目及需求量身定制培训课程,由专业的工程师为客户提供全面、系统的技术培训和实践操作演示，包括故障诊断、设备调试、设备维修等，满足不同类型客户的多样化需求。</p>
	                          
	                        </div>                                                  
	                      </div>
	                      <div class="col-md-6">
	                        <div class="col-md-6">
	                          <img class="img" src="images/A8.jpg" alt="" width="100%;">
	                        </div>
	                        <div class="col-md-6">
	                           
	                            <h4>技术交流</h4>
	                            <p>在产品安装交付、定期巡检中，我们的服务工程师将与客户现场进行技术交流，交换产品和系统应用经验，为客户答疑解惑。</p>
	                          
	                        </div>                                                  
	                      </div>   
	    </div>
	    <div></div>
	    <div class="pro-ex">
				<div class="cpzx">
					<h4>产品咨询</h4>
				</div>
				<div class="zxzx">
					<p style="font-size:20px;">在线咨询</p>
						<div class="exchange ">
							<div class="col-md-4 jx">
								<p>机型：<input type="text" placeholder="例如SG500MX"></p>
							</div>
							<div class="col-md-4 gs">
								<p>公司：<input type="text" placeholder="公司"></p>
							</div>
							<div class="col-md-4 dz">
								<p>地址：<input type="text" placeholder="地址"></p>
							</div>
						</div>
						<div class="exchange ">
							<div class="col-md-4 xm">
								<p>姓名：<input type="text" placeholder="姓名"></p>
							</div>
							<div class="col-md-4 dh">
								<p>电话：<input type="text" placeholder="电话"></p>
							</div>
							<div class="col-md-4 yx">
								<p>邮箱：<input type="text" placeholder="邮箱"></p>
							</div>
						</div>
						<div class="exchange">
							<div class=" ly">
								<p>留言：<textarea name="a" placeholder="输入留言内容"style="width:800px;height:150px;"></textarea>
							</div>
						</div>
						<input class="submit"type="submit" name="Submit" value="提交" /> 
				</div>
			
				<div class="phone-talk">
					<p class="dhzx">电话咨询</p>
					<p style="margin-top:1em;font-size:20px;">总机</p>
					<p style="margin-top:0.6em;font-size:18px;">0551 - 6532 7878       0551 - 6532 7877  </p>
					<p style="margin-top:1em;font-size:20px;">国内光伏销售:</p>
					<p style="margin-top:0.6em;font-size:18px;">0551 - 6532 7827        0551 - 6532 7828  
						0551 - 6532 7821        sales@sungrowpower.com （销售）
						pv-system@sungrowpower.com（解决方案） 
						tech@sungrowpower.com （工程技术）  </p>
				</div>
		</div>

   </div>
<!-- footer -->
	<div class="footer-top">
		<div class="container">
			<div class="col-md-4 wthree-footer-top">
				<h3><a href="">华能<span>电源</span></a></h3>
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">mail@example.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+080 264 995</li>
					</ul>
			</div>
			<div class="col-md-3 w3ls-footer-top">
				<h3>快速<span>链接</span></h3>
						<ul>
							<li><a href="index.html">首页</a></li>
							<li><a href="产品列表.html">产品</a></li>
							<li><a href="方案列表.html">解决方案</a></li>
							
							<li><a href="services.html">服务支持</a></li>
							<li><a href="contact.html">联系我们</a></li>
						</ul>

			</div>
			
			<div class="col-md-5 w3l-footer-top">
				<div class="footer-img">
					<img src="images/001.png">
				</div>
				<div class="footer-letter">
					<p>©Huaneng2017. 备案号：皖ICP备05001号-1</p>
				</div>
				
				<br><br><br><br>
			</div>
				<div class="clearfix"></div>

		</div>
			
		</div>
	</div>

</body>
</html>