<extend name="Public/base" />
<block name="main">
<div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">产品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="" method="get">
                    <table class="search-tab">
                        <tr>
                            
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="search" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="addProduct.html"><i class="icon-font"></i>新增产品</a>
                        
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>类型</th>
                            <th>型号</th>
                            <th>防护等级</th>
                            <th>通讯接口</th>
                            <th>符合标准</th>
                            <th>添加时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        <volist name="product" id="product">
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="59" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="0" type="text">
                            </td>
                             <td>{$product.id}</td>
                             <td>{$product.产品种类}</td>
                             <td>{$product.型号}</td>
                             <td>{$product.防护等级}</td>
                             <td>{$product.通讯接口}</td>
                             <td>{$product.符合标准}</td>
                             <td>{$product.addtime}</td>
                             <td>{$product.updatetime}</td>
                 
                           
                            <td>
                                <a class="link-update" href="__MODULE__/Product/productedit/id/{$product.id}">修改</a>
                                
                                <a class="link-del" href="__MODULE__/Product/productdel/id/{$product.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page"> {$page}</div>
                </div>
            </form>
        </div>
</block>